[package]
name = "my-project"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
slint = { version = "1.14.1", features = ["backend-android-activity-06"] }

[build-dependencies]
slint-build = "1.14.1"
